<mat-toolbar class="toolbar">
  <div class="header-container">
    <!-- Logo -->
    <div class="logo-container">
      <img
        class="logo"
        alt="company-logo"
        src="../../assets/logo.png"
        width="100px"
        routerLink="dashboard"
      />
    </div>

    <!-- Topbar menuu -->
    <div class="menu-items-container">
      <ul class="menu-list">
        <li class="menu-item" routerLink="our-expertise">
          Our expertise
          <!-- suub menu -->
          <ul class="sub-menu">
            <li
              class="sub-menu-item"
              (click)="navigateToPage('our-expertise/sap', $event)"
            >
              SAP & S4HANA Solutions
            </li>
            <li
              class="sub-menu-item"
              (click)="navigateToPage('our-expertise/infor', $event)"
            >
              Infor Solutions
            </li>
            <li
              class="sub-menu-item"
              (click)="navigateToPage('our-expertise/cloud', $event)"
            >
              Cloud (Azure, AWS, GCP)
            </li>
            <li
              class="sub-menu-item"
              (click)="navigateToPage('our-expertise/managed-services', $event)"
            >
              Managed Services
            </li>
            <li
              class="sub-menu-item"
              (click)="navigateToPage('our-expertise/project-management', $event)"
            >
              Project Management
            </li>
            <li
              class="sub-menu-item"
              (click)="navigateToPage('our-expertise/software-development', $event)"
            >
              Software Development
            </li>
          </ul>
        </li>
        <li class="menu-item" routerLink="who-we-serve">
          Who we serve
          <!-- suub menu -->
          <ul class="sub-menu">
            <li
              class="sub-menu-item"
              (click)="navigateToPage('who-we-serve/oil-and-gas', $event)"
            >
              Oil & Gas
            </li>
            <li
              class="sub-menu-item"
              (click)="navigateToPage('who-we-serve/utilities', $event)"
            >
              Utilities
            </li>
            <li
              class="sub-menu-item"
              (click)="navigateToPage('who-we-serve/manufactoring', $event)"
            >
              Manufactoring
            </li>
            <li
              class="sub-menu-item"
              (click)="navigateToPage('who-we-serve/it-consulting', $event)"
            >
              IT & Consulting Majors
            </li>
          </ul>
        </li>
        <li class="menu-item" routerLink="about-us">About us</li>
      </ul>
    </div>

    <!-- Contact us -->
    <button
      class="contact-us-button"
      mat-stroked-button
      color="warn"
      type="button"
      aria-label="Contact us buutton"
      (click)="navigateToContactPage()"
    >
      Contact us
    </button>

    <!-- HAMBURGER MENU -->
    <button
      class="menu-icon"
      mat-icon-button
      aria-label="Menu icon button"
      (click)="onToggleSidenav()"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>
