.footer-container {
  margin-top: 32px;
  border-top: 1px solid #dbdbdb;
  background-color: #111;
  color: white;
  font-size: 16px;
  padding: 0 8%;

  .footer {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 75px 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 90px;

    &__contact-us {
        text-decoration: none;
        color: white;
    }
  }
}
