<div class="footer-container">
  <div class="footer">
    <span class="footer__trademark">
      <span> &copy; 2020 By ByteInfoTek. All Rights Reserved. </span>
      <a
        href="javascript:void(0)"
        routerLink="contact-us"
        class="footer__contact-us"
        >Contact us</a
      >
    </span>

    <!-- <span class="footer__telephone">Tel: +1-346-355-8899</span> -->
    <span class="flex-column">
      <span class="footer__social-media-container">
        <a href="https://www.linkedin.com/company/byteinfotek" target="_blank">
          <img
            src="../../assets/linkedin-white.svg"
            alt="linkedin-image"
            width="40px"
            height="40px"
          />
        </a>
      </span>
    </span>
  </div>
</div>
