<div class="expertise-news">
  <div class="area-of-expertise">
    <h2 class="area-of-expertise__title">
      Industries We Serve
      <span class="seperator">
        <span class="seperator-border"></span>
      </span>
    </h2>
    <div class="area-of-expertise__content">
      <div class="expertise">
        <div>
          <h2 class="title">Oil & Gas</h2>
          <div class="content">
            The oil and gas industry in the United States is a critical sector
            of the economy, involved in the exploration, production, refining,
            and distribution of petroleum products. It plays a significant role
            in energy production and contributes to both domestic and
            international energy markets, impacting economic growth and national
            energy security.

            <a
              href="javascript:void(0)"
              class="warn"
              (click)="navigateToPage('oil-and-gas')"
              *ngIf="showLearMore"
            >
              Learn more about this
            </a>
          </div>
        </div>
        <img
          alt="oil-and-gas"
          class="image-div-container"
          src="../../assets/oil-and-gas.png"
        />
      </div>

      <hr style="height: 1px; margin: 1.5rem" />

      <div class="expertise">
        <div>
          <h2 class="title">Utilities</h2>
          <div class="content">
            The utilities industry in the United States encompasses essential
            services such as electricity, water, and natural gas distribution.
            It plays a crucial role in providing essential infrastructure and
            services to households and businesses, ensuring the functioning of
            modern society and economic activities.

            <a
              href="javascript:void(0)"
              class="warn"
              (click)="navigateToPage('utilities')"
              *ngIf="showLearMore"
            >
              Learn more about this
            </a>
          </div>
        </div>
        <img
          alt="utilities"
          class="image-div-container"
          src="../../assets/utilities.png"
        />
      </div>

      <hr style="height: 1px; margin: 1.5rem" />

      <div class="expertise">
        <div>
          <h2 class="title">Manufactoring</h2>
          <div class="content">
            The manufacturing industry in the United States is a diverse and
            robust sector responsible for producing a wide range of products,
            from automobiles to electronics. It contributes significantly to the
            country's economy, innovation, and job creation, making it a vital
            component of the nation's industrial landscape.

            <a
              href="javascript:void(0)"
              class="warn"
              (click)="navigateToPage('manufactoring')"
              *ngIf="showLearMore"
            >
              Learn more about this
            </a>
          </div>
        </div>
        <img
          alt="manufacturing"
          class="image-div-container"
          src="../../assets/manufacturing.png"
        />
      </div>

      <hr style="height: 1px; margin: 1.5rem" />

      <div class="expertise">
        <div>
          <h2 class="title">IT & Consulting Majors</h2>
          <div class="content">
            The IT and Consulting Majors industry in the United States is a
            dynamic sector comprising tech giants and consulting firms known for
            innovation and expertise. They drive digital transformation, offer
            cutting-edge technology solutions, and provide strategic guidance to
            businesses across various sectors, contributing to economic growth
            and technological advancement.

            <a
              href="javascript:void(0)"
              class="warn"
              (click)="navigateToPage('it-consulting')"
              *ngIf="showLearMore"
            >
              Learn more about this
            </a>
          </div>
        </div>
        <img
          class="image-div-container"
          alt="IT-consulting-majors"
          src="../../assets/it-consulting-major.png"
        />
      </div>
    </div>
  </div>
</div>
