.expertise-news {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .area-of-expertise,
  .recent-news {
    &__title {
      font-size: 24px;
    }

    &__content {
      display: flex;
      flex-direction: column;

      .expertise {
        display: flex;
        flex-direction: row;
        margin-top: 32px;
        gap: 32px;

        .title {
          font-size: 32px;
          width: max-content;
        }

        .content {
          color: gray;
          font-size: 18px;
          display: flex;
          flex-direction: column;
          gap: 8px;
        }

        .image-div-container {
          position: relative;
          display: flex;
          min-height: 1px;
          width: 300px;
        }
      }
    }
  }
}
