<div class="contact-us-container">
  <header class="contact-us__header">
    <h1>Contact Us - Byte Info Tek</h1>
  </header>

  <app-contact-form></app-contact-form>

  <hr style="height: 1px; margin: 3rem 0" />

  <div class="contact-us__location">
    <div class="title">
      <span>Headquarters</span>
      <span class="seperator">
        <span class="seperator-border"></span>
      </span>
    </div>
    <div class="content">
      <span><b>Byte Info Tek</b></span>
      <span>11111 Katy Freeway</span>
      <span>Suite #910</span>
      <span>Houston, TX 77079</span>
      <a aria-label="Email" href="mailto:contact@byteinfotek.com">
        contact@byteinfotek.com
      </a>
      <span>Tel: 346-355-8899</span>
      <span>Fax: 346-355-8989</span>
      <a href="https://www.linkedin.com/company/byteinfotek" target="_blank">
        <img
          src="../../assets/linkedin-black.svg"
          alt="linkedin-image"
          width="40px"
          height="40px"
        />
      </a>
    </div>
  </div>
</div>
