<div class="about-us-container">
  <header class="about-us__header">
    <h1>About Us - Byte Info Tek</h1>
  </header>
  <div class="about-us__content">
    <div class="about-us__content-section">
      <h2 class="title">
        Why choose our services
        <span class="seperator">
          <span class="seperator-border"></span>
        </span>
      </h2>
      <div class="content">
        <span>
          Our mission at <b>Byte Info Tek</b> is simple: to provide high-quality
          services for our valued clients. Our team goes above and beyond to
          cater to each project's specific needs. Through open communication and
          exceptional service, we hope you'll find what you're looking for with
          our Sales Service. For more information or general inquiries, get in
          touch today.
        </span>
        <div class="image-div-container"></div>
      </div>
    </div>

    <hr style="height: 1px; margin: 3rem 0" />

    <div class="about-us__content-section">
      <h2 class="title">
        Our process
        <span class="seperator">
          <span class="seperator-border"></span>
        </span>
      </h2>
      <div class="content">
        <span>
          <b>Byte Info Tek</b> has a team of exceptional and results-driven
          leaders who love to work with our growing clientele. Our team is eager
          to learn, open to new ideas and technologies and adaptable to the
          fast-changing and increasingly complex business environment. Read
          below to learn more about our exceptional team.
        </span>
        <div class="image-div-container"></div>
      </div>
    </div>

    <hr style="height: 1px; margin: 3rem 0" />

    <div class="about-us__content-section">
      <h2 class="title">
        Our obligation
        <span class="seperator">
          <span class="seperator-border"></span>
        </span>
      </h2>
      <div class="content">
        <span>
          We're fortunate to work with some of the best clients around, and
          would love for you to become a partner. Our team includes experts from
          many fields who are ready to help develop and grow your business. From
          ideation to execution, we have vast experience throughout. Check out
          our client list below and get in touch with questions.
        </span>
        <div class="image-div-container"></div>
      </div>
    </div>

    <hr style="height: 1px; margin: 3rem 0" />
  </div>

  <div class="contact-us-section">
    <div class="content">
      <span>Any questions or thoughts? We are always happy to help out!</span>
      <button
        class="contact-us-button"
        mat-stroked-button
        color="warn"
        type="button"
        aria-label="Contact us buutton"
        (click)="navigateToContactPage()"
      >
        Contact us
      </button>
    </div>
  </div>
</div>
