<div class="oil-gas-container">
  <header class="oil-gas__header">
    <h1>Who we serve - Oil & Gas</h1>
  </header>
  <div class="oil-gas__content">
    <div class="oil-gas__content-section">
      <h2 class="title">
        Oil & Gas
        <span class="seperator">
          <span class="seperator-border"></span>
        </span>
      </h2>
      <div class="content">
        Oil and natural gas are major industries in the energy market and play
        an influential role in the global economy as the world's primary fuel
        sources. The processes and systems involved in producing and
        distributing oil and gas are highly complex, capital-intensive, and
        require state-of-the-art technology. Historically, natural gas has been
        linked to oil, mainly because of the production process or upstream side
        of the business. For much of the history of the industry, natural gas
        was viewed as a nuisance and even today is flared in large quantities in
        some parts of the world, including the United States. Natural gas has
        taken on a more prominent role in the world's energy supply as a
        consequence of shale gas development in the United States, as mentioned
        above, and its lower greenhouse gas emissions when combusted when
        compared to oil and coal.
      </div>
    </div>
  </div>

  <hr style="height: 1px; margin: 3rem 3rem" />

  <app-contact-form class="dashboard-contact-form"></app-contact-form>
</div>
