<div class="project-management-container">
  <header class="project-management__header">
    <h1>Our Services - Project Management</h1>
  </header>
  <div class="project-management__content">
    <div class="project-management__content-section">
      <h2 class="title">
        Project Management
        <span class="seperator">
          <span class="seperator-border"></span>
        </span>
      </h2>
      <div class="content">
        Project management (not to be confused with program management) is the
        process that guides a team's work to accomplish all project goals within
        certain parameters. The goal of project management is producing a
        complete project that meets objectives.
      </div>
    </div>

    <div class="project-management__content-section">
      <h2 class="title">
        Different Types of Project Managers
        <span class="seperator">
          <span class="seperator-border"></span>
        </span>
      </h2>
      <div class="content">
        <p>
          There are predominantly four types of managers that employ one of
          seven different management methods. Each type of project manager comes
          with their own set of strengths and weaknesses. Let us look at the
          different types of project managers in detail.
        </p>

        <ul>
          <li>Technical Project Managers</li>
          <li>Adventurous Project Managers</li>
          <li>Expert Project Managers</li>
          <li>Supportive Project Managers</li>
        </ul>
      </div>
    </div>

    <div class="project-management__content-section">
      <h2 class="title">
        Which Type of Project Manager is Suitable for Your Project?
        <span class="seperator">
          <span class="seperator-border"></span>
        </span>
      </h2>
      <div class="content">
        You need an expert who truly understands the complexities of the
        technology, leading practices of the industry. Someone who can not only
        help you cover the skillset gap but empower you to get the most out of
        it.
      </div>
    </div>
  </div>

  <hr style="height: 1px; margin: 3rem 3rem" />

  <app-contact-form class="dashboard-contact-form"></app-contact-form>
</div>
