<div class="utilities-container">
  <header class="utilities__header">
    <h1>Who we serve - Utilities</h1>
  </header>
  <div class="utilities__content">
    <div class="utilities__content-section">
      <h2 class="title">
        Utilities
        <span class="seperator">
          <span class="seperator-border"></span>
        </span>
      </h2>
      <div class="content">
        The utilities sector refers to a category of companies that provide
        basic amenities, such as water, sewage services, electricity, dams, and
        natural gas. It is a large sector, and an important part of the U.S.
        economy, with a market capitalization of over $1.5 trillion (as of March
        2021).
      </div>
    </div>

    <div class="utilities__content">
      <div class="utilities__content-section">
        <h2 class="title">
          KEY TAKEAWAYS
          <span class="seperator">
            <span class="seperator-border"></span>
          </span>
        </h2>
        <ul class="content">
          <li>
            The utility sector is a category of company stocks that provide
            basic services including electricity, natural gas, and water.
          </li>
          <li>
            Utilities earn a profit but are a public service and, as a result,
            have substantial regulation.
          </li>
          <li>
            Typically, investors buy utilities as long-term holdings for their
            dividend income and stability.
          </li>
          <li>
            The utility sector tends to do well as a defensive play against
            macroeconomic downturns.
          </li>
          <li>
            The movement towards "clean" energy, along with
            competition-enhancing legislation, initiatives, and investments in
            renewable energy resources, has some analysts forecasting strong
            growth for the utilities industry in the 2020s.
          </li>
        </ul>
      </div>
    </div>

    <hr style="height: 1px; margin: 3rem 3rem" />

    <app-contact-form class="dashboard-contact-form"></app-contact-form>
  </div>
</div>
