<div class="software-development-container">
  <header class="software-development__header">
    <h1>Our Services - Software Development</h1>
  </header>
  <div class="software-development__content">
    <div class="software-development__content-section">
      <div>
        <h2 class="title">
          Software Development
          <span class="seperator">
            <span class="seperator-border"></span>
          </span>
        </h2>
        <div class="content">
          <p>
            Software development is the process of conceiving, specifying,
            designing,
            <a
              href="https://en.wikipedia.org/wiki/Computer_programming"
              target="_blank"
            >
              programming </a
            >,
            <a
              href="https://en.wikipedia.org/wiki/Software_documentation"
              target="_blank"
            >
              documenting </a
            >,
            <a
              href="https://en.wikipedia.org/wiki/Software_testing"
              target="_blank"
            >
              testing </a
            >, and
            <a
              href="https://en.wikipedia.org/wiki/Software_bug"
              target="_blank"
            >
              bug fixing
            </a>
            involved in creating and maintaining
            <a
              href="https://en.wikipedia.org/wiki/Application_software"
              target="_blank"
            >
              applications </a
            >,
            <a
              href="https://en.wikipedia.org/wiki/Software_framework"
              target="_blank"
            >
              frameworks </a
            >, or other software components.
            <a href="https://en.wikipedia.org/wiki/Software" target="_blank">
              Software
            </a>
            development involves writing and
            <a
              href="https://en.wikipedia.org/wiki/Software_maintenance"
              target="_blank"
            >
              maintaining
            </a>
            the
            <a href="https://en.wikipedia.org/wiki/Source_code" target="_blank">
              source code </a
            >, but in a broader sense, it includes all processes from the
            conception of the desired software through to the final
            manifestation of the software, typically in a planned and
            <a
              href="https://en.wikipedia.org/wiki/Software_development_process"
              target="_blank"
            >
              structured
            </a>
            process. Software development also includes research, new
            development, prototyping, modification, reuse, re-engineering,
            maintenance, or any other activities that result in software
            products.
          </p>
        </div>
      </div>

      <img
        alt="SDLC"
        class="image-div-container"
        src="../../../assets/sdlc.png"
      />
    </div>
  </div>

  <hr style="height: 1px; margin: 3rem 3rem" />

  <app-contact-form class="dashboard-contact-form"></app-contact-form>
</div>
