.flex-row {
  display: flex;
  flex-direction: row;
}

.flex {
  display: flex;
}

.flex-coluum {
  display: flex;
  flex-direction: column;
}

.sidenav-container {
  height: 100%;
}

.mat-nav-list {
  padding-top: 20px;
}

.main-container {
  padding: 0 8%;
}

.hr {
  color: lightgray;
}

.mat-sidenav-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}