<div class="manufactoring-container">
  <header class="manufactoring__header">
    <h1>Who we serve - Manufactoring</h1>
  </header>
  <div class="manufactoring__content">
    <div class="manufactoring__content-section">
      <h2 class="title">
        Manufactoring
        <span class="seperator">
          <span class="seperator-border"></span>
        </span>
      </h2>
      <div class="content">
        The manufacturing sector is part of the goods-producing industries
        supersector group. The Manufacturing sector comprises establishments
        engaged in the mechanical, physical, or chemical transformation of
        materials, substances, or components into new products. Both types of
        establishments are included in manufacturing.
      </div>
    </div>
  </div>

  <hr style="height: 1px; margin: 3rem 3rem" />

  <app-contact-form class="dashboard-contact-form"></app-contact-form>
</div>
