<div class="infor-container">
  <header class="infor__header">
    <h1>Our Expertise - Infor Solutions</h1>
  </header>
  <div class="infor__content">
    <div class="infor__content-section">
      <h2 class="title">
        Infor Solutions
        <span class="seperator">
          <span class="seperator-border"></span>
        </span>
      </h2>
      <div class="content">
        Infor is a global leader in business cloud software products for
        companies in industry specific markets. Infor builds complete industry
        suites in the cloud and efficiently deploys technology that puts the
        user experience first, leverages data science, and integrates easily
        into existing systems.
      </div>
    </div>

    <div class="infor__content-section">
      <h2 class="title">
        We provide solutions in several types of employment relationships
        <span class="seperator">
          <span class="seperator-border"></span>
        </span>
      </h2>
      <ul class="content">
        <li>Contract-to-Hire</li>
        <li>Long-term & Short-term Projects</li>
        <li>Direct Placement</li>
      </ul>
    </div>
  </div>

  <hr style="height: 1px; margin: 3rem 3rem" />

  <app-contact-form class="dashboard-contact-form"></app-contact-form>
</div>
