<div class="our-expertise-container">
  <header class="our-expertise__header">
    <h1>Our expertise</h1>
  </header>
  <div class="our-expertise__content">
    <div class="our-expertise__content-section">
      <div class="expertise-news">
        <div class="area-of-expertise">
          <h2 class="area-of-expertise__title">
            Our expertise involve
            <span class="seperator">
              <span class="seperator-border"></span>
            </span>
          </h2>
          <div class="area-of-expertise__content">
            <div class="expertise">
              <div>
                <h2 class="title">SAP & S4HANA Solutions</h2>
                <div class="content">
                  The SAP and S4HANA Solutions industry in the United States
                  specializes in enterprise software and digital transformation
                  solutions. It enables organizations to streamline operations,
                  enhance efficiency, and make data-driven decisions, playing a
                  pivotal role in modernizing businesses across diverse sectors
                  in the ever-evolving tech landscape.

                  <a
                    href="javascript:void(0)"
                    class="warn"
                    (click)="navigateToPage('sap')"
                  >
                    Learn more about this
                  </a>
                </div>
              </div>
              <img
                alt="SAP"
                class="image-div-container"
                src="../../assets/sap.png"
              />
            </div>

            <hr style="height: 1px; margin: 1.5rem" />

            <div class="expertise">
              <div>
                <h2 class="title">Infor Solutions</h2>
                <div class="content">
                  The Infor Solutions industry in the United States is a
                  prominent provider of cloud-based business software solutions.
                  It empowers organizations with industry-specific applications
                  to optimize processes, improve productivity, and drive digital
                  transformation, serving as a key player in the enterprise
                  software market.

                  <a
                    href="javascript:void(0)"
                    class="warn"
                    (click)="navigateToPage('infor')"
                  >
                    Learn more about this
                  </a>
                </div>
              </div>
              <img
                alt="Infor solutions"
                class="image-div-container"
                src="../../assets/infor.png"
              />
            </div>

            <hr style="height: 1px; margin: 1.5rem" />

            <div class="expertise">
              <div>
                <h2 class="title">Cloud (Azure, AWS, GCP)</h2>
                <div class="content">
                  The Cloud industry in the United States, led by giants like
                  Azure, AWS (Amazon Web Services), and GCP (Google Cloud
                  Platform), offers scalable and secure cloud computing
                  services. These platforms enable businesses to leverage the
                  power of the cloud for data storage, application hosting, and
                  AI-driven innovations, driving digital innovation and global
                  competitiveness.

                  <a
                    href="javascript:void(0)"
                    class="warn"
                    (click)="navigateToPage('cloud')"
                  >
                    Learn more about this
                  </a>
                </div>
              </div>
              <img
                alt="cloud"
                class="image-div-container"
                src="../../assets/cloud.jpg"
              />
            </div>

            <hr style="height: 1px; margin: 1.5rem" />

            <div class="expertise">
              <div>
                <h2 class="title">Managed Services</h2>
                <div class="content">
                  The Managed Services industry in the United States provides
                  comprehensive IT support and management solutions to
                  businesses, allowing them to outsource their technology needs.
                  It ensures cost-effective, reliable, and secure IT operations,
                  enabling companies to focus on their core competencies while
                  benefiting from expert IT services and support.

                  <a
                    href="javascript:void(0)"
                    class="warn"
                    (click)="navigateToPage('managed-services')"
                  >
                    Learn more about this
                  </a>
                </div>
              </div>
              <img
                class="image-div-container"
                alt="Managed services"
                src="../../assets/managed-services.png"
              />
            </div>

            <hr style="height: 1px; margin: 1.5rem" />

            <div class="expertise">
              <div>
                <h2 class="title">Project Management</h2>
                <div class="content">
                  The Project Management industry in the United States
                  encompasses professionals and tools dedicated to efficiently
                  planning, executing, and overseeing projects across various
                  sectors. It plays a pivotal role in ensuring project success,
                  optimizing resource allocation, and delivering outcomes on
                  time and within budget, contributing to overall business
                  productivity and growth.

                  <a
                    href="javascript:void(0)"
                    class="warn"
                    (click)="navigateToPage('project-management')"
                  >
                    Learn more about this
                  </a>
                </div>
              </div>
              <img
                class="image-div-container"
                alt="Project management"
                src="../../assets/project-management.png"
              />
            </div>

            <hr style="height: 1px; margin: 1.5rem" />

            <div class="expertise">
              <div>
                <h2 class="title">Software Development</h2>
                <div class="content">
                  The Software Development industry in the United States is a
                  thriving sector known for creating innovative applications,
                  systems, and digital solutions. It fuels technological
                  advancement, drives digital transformation across industries,
                  and supports economic growth through the development of
                  cutting-edge software products and services.

                  <a
                    href="javascript:void(0)"
                    class="warn"
                    (click)="navigateToPage('software-development')"
                  >
                    Learn more about this
                  </a>
                </div>
              </div>
              <img
                class="image-div-container"
                alt="Software development"
                src="../../assets/software-development.png"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
