<div class="sap-container">
  <header class="sap__header">
    <h1>Our Expertise - SAP & S4HANA Solutions</h1>
  </header>
  <div class="sap__content">
    <div class="sap__content-section">
      <h2 class="title">
        SAP & S4HANA Solutions
        <span class="seperator">
          <span class="seperator-border"></span>
        </span>
      </h2>
      <div class="content">
        <p>
          SAP is one of the world’s leading producers of software for the
          management of business processes, developing solutions that facilitate
          effective data processing and information flow across organizations.
        </p>
      </div>
    </div>

    <div class="sap__content-section">
      <h2 class="title">
        We provide SOLUTIONS TO POWER YOUR BUSINESS END-TO-END
        <span class="seperator">
          <span class="seperator-border"></span>
        </span>
      </h2>
      <div class="content-row">
        <ul class="content">
          <li>SAP ABAP</li>
          <li>SAP Manufacturing</li>
          <li>SAP Advanced Planner and Optimizer (SAP APO)</li>
          <li>SAP Business Intelligence</li>
          <li>SAP Customer Relationship management / TPM</li>
          <li>SAP Enterprise Resource Planning (SAP ERP)</li>
          <li>SAP Finance and Control (SAP FICO)</li>
          <li>SAP HR/Payroll/PA/OM/ESS/MSS</li>
          <li>SAP IS Retail</li>
          <li>SAP IS Oil and Gas</li>
          <li>SAP Master Data Management (SAP MDM)</li>
        </ul>

        <ul class="content">
          <li>SAP Materials Management (SAP MM)</li>
          <li>SAP Netweaver</li>
          <li>SAP NW/Basis, PLM, PP/PI, PTP, SPP/SPM, SRM</li>
          <li>SAP Order To Cash (SAP SD)</li>
          <li>SAP Process Integration (SAP PI)</li>
          <li>SAP Production Planning (SAP PP)</li>
          <li>SAP Service Oriented Architecture (SAP SOA)</li>
          <li>SAP Supply Chain Management (SAP SCM)</li>
          <li>SAP Warehouse Management Systems (SAP WMS)</li>
          <li>SAP Extended Warehouse Management (SAP EWM)</li>
        </ul>
      </div>
    </div>
  </div>

  <hr style="height: 1px; margin: 3rem 3rem" />

  <app-contact-form class="dashboard-contact-form"></app-contact-form>
</div>
