<div class="managed-services-container">
  <header class="managed-services__header">
    <h1>Our Services - Managed Services</h1>
  </header>
  <div class="managed-services__content">
    <div class="managed-services__content-section">
      <h2 class="title">
        Managed Services
        <span class="seperator">
          <span class="seperator-border"></span>
        </span>
      </h2>
      <div class="content">
        Managed services is the practice of outsourcing the responsibility for
        maintaining, and anticipating need for, a range of processes and
        functions, ostensibly for the purpose of improved operations and reduced
        budgetary expenditures through the reduction of directly-employed staff.
      </div>
    </div>
  </div>

  <hr style="height: 1px; margin: 3rem 3rem" />

  <app-contact-form class="dashboard-contact-form"></app-contact-form>
</div>
