<div class="cloud-container">
  <header class="cloud__header">
    <h1>Our Expertise - Cloud Solutions</h1>
  </header>
  <div class="cloud__content">
    <div class="cloud__content-section">
      <h2 class="title">
        Cloud Solutions
        <span class="seperator">
          <span class="seperator-border"></span>
        </span>
      </h2>
      <div class="content">
        <p>
          Cloud computing is storing or accessing programs, apps, and data via
          the internet -- instead of directly on your computer hard drive. The
          most popular examples of cloud computing are
          <a
            href="https://www.bmc.com/blogs/ai-as-a-service-aiaas/"
            target="_blank"
          >
            Software as a Service (SaaS) </a
          >,
          <a
            href="https://www.bmc.com/blogs/ai-as-a-service-aiaas/"
            target="_blank"
          >
            Platform as a Service (PaaS)
          </a>
          and
          <a
            href="https://www.bmc.com/blogs/saas-vs-paas-vs-iaas-whats-the-difference-and-how-to-choose/"
            target="_blank"
          >
            Infrastructure as a Service (IaaS)
          </a>
          -- most of which you can choose whether to set up in a public or
          private option. Cloud computing is giving rise to more as-a-service
          offerings including:
        </p>
        <ul>
          <li>
            <a
              href="https://www.bmc.com/blogs/ai-as-a-service-aiaas/"
              target="_blank"
            >
              AIaaS: AI as a service
            </a>
          </li>
          <li>DaaS: Desktop as a service</li>
          <li>
            <a
              href="https://www.bmc.com/blogs/itaas-it-as-a-service/"
              target="_blank"
            >
              ITaaS: IT as a service
            </a>
          </li>
          <li>
            <a
              href="https://www.bmc.com/blogs/ransomware-as-a-service/"
              target="_blank"
            >
              RaaS: Ransomware as a service (On the less savory side of
              technology)
            </a>
          </li>
          <li>XaaS: Anything as a service</li>
        </ul>

        <p>
          Any cloud service consists of client-side systems or devices (PC,
          tablets, etc.) that are connected to the backend data center
          components. The components that constitute cloud infrastructure
          include:
        </p>

        <p>
          Cloud computing has revolutionized the way organizations work, and
          advancing us to a new technology era. Amazon Web Services, Microsoft
          Azure, and Google Cloud Platform are the top cloud service providers
          that dominate the worldwide cloud market.
        </p>

        <p>
          Nowadays, most enterprises are moving towards the cloud and even
          multi-cloud environments to harness the benefits offered by cloud
          computing, such as:
        </p>

        <ul>
          <li>
            <a href="https://www.bmc.com/blogs/capex-vs-opex/" target="_blank">
              Decreased CapEx
            </a>
          </li>
          <li>
            <a
              href="https://www.bmc.com/blogs/it-infrastructure-management/"
              target="_blank"
            >
              Reduced infrastructure maintenance
            </a>
          </li>
          <li>
            <a
              href="https://www.bmc.com/blogs/high-availability/"
              target="_blank"
            >
              Decreased CapEx
            </a>
          </li>
          <li>Scalability</li>
        </ul>

        <p>
          Of course, the Big 3 cloud providers possess the experience and
          expertise to provide a reliable and feature-rich cloud platform. But,
          before committing to a specific cloud platform, you must do your due
          diligence and compare each platform to fully understand their
          capabilities and differences.
        </p>
      </div>
    </div>

    <div class="cloud__content-section">
      <h2 class="title">
        We provide solutions in several types of employment relationships
        <span class="seperator">
          <span class="seperator-border"></span>
        </span>
      </h2>
      <ul class="content">
        <li>Contract-to-Hire</li>
        <li>Long-term & Short-term Projects</li>
        <li>Direct Placement</li>
      </ul>
    </div>
  </div>

  <hr style="height: 1px; margin: 3rem 3rem" />

  <app-contact-form class="dashboard-contact-form"></app-contact-form>
</div>
